<div class="establishment-details">
  <div class="establishment-details__header">
    <button (click)="goBack()" type="button">
      <fa-icon [icon]="['fas', 'arrow-left']" size="2x"></fa-icon>
    </button>
    <div class="establishment-details__logo-edit">
      <label for="img-replacer">
        <fa-icon [icon]="['fas', 'camera']" size="3x"></fa-icon>
      </label>
      <input
        id="img-replacer"
        type="file"
        accept=".png, .jpeg, .jpg"
        (change)="handleFileChange($event.target.files)"
      />
      <img [src]="establishment?.picture" alt="Establishment Logo" />
    </div>
    <div class="name">
      <span>{{ establishment?.name }}</span>
      <div>ID: {{ establishment?.id }}</div>
    </div>
  </div>
  <form
    class="form"
    [formGroup]="establishmentForm"
    (ngSubmit)="saveData(establishmentForm.value)"
  >
    <h2>Informações Básicas</h2>
    <hr />
    <div class="form__row">
      <form-input formControlName="name">
        Nome
      </form-input>
      <form-input formControlName="city">
        Cidade
      </form-input>
      <form-input formControlName="address">
        Endereço
      </form-input>
    </div>
    <div class="form__row">
      <form-input formControlName="phone">
        Telefone
      </form-input>
      <form-input formControlName="email" [errorMessages]="emailErrors">
        Email
      </form-input>
    </div>
    <h2>Financeiro</h2>
    <hr />
    <div class="form__row">
      <form-input formControlName="bank">
        Banco
      </form-input>
      <form-input formControlName="account_type">
        Tipo de conta
      </form-input>
      <form-input
        formControlName="cpf_cnpj"
        [mask]="cpfCnpjMask"
        [errorMessages]="cpfCnpjErrors"
      >
        CPF / CNPJ
      </form-input>
    </div>
    <div class="form__row">
      <div class="form__row--multiple">
        <form-input formControlName="agency" [mask]="'0000'">
          Agência
        </form-input>
        <form-input formControlName="agency_digit" [mask]="'0'"> </form-input>
      </div>
      <div class="form__row--multiple">
        <form-input formControlName="account_number" [mask]="'00000000'">
          Conta
        </form-input>
        <form-input formControlName="account_number_digit" [mask]="'0'">
        </form-input>
      </div>
      <div class="custom-select">
        <label class="label"> Saque Automatico? </label>
        <ng-select
          [displayKey]="'name'"
          [options]="withdrawOptions"
          [styleGuide]="selectStyleGuide"
          [formControl]="establishmentForm.get('automated_withdraw')"
        ></ng-select>
      </div>
    </div>
    <div class="form__actions">
      <round-button
        [type]="'submit'"
        [text]="'Salvar'"
        [class]="'primary'"
        [disabled]="establishmentForm.invalid"
      ></round-button>
    </div>
  </form>
</div>
